<!DOCTYPE html>
<html>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Eggco</title>
  
    <link rel="stylesheet" type="text/css" href="base.css">  
<head>

</head>

<body>
    <div class="header">
        <div class="navbar">
            <img alt="" class="logo"
            src="https://static.overlay-tech.com/assets/1f5f8049-ecee-44db-8a05-7dfd3fe94a40.png" />
        </div>
        <h1>Bienvenue sur l'interface de gestion EggCo</h1>                
        <div id="chicken-button" class="navbar-button">
            <a href="/chickens">Gérer les Poules</a>
        </div>
    </div>
</body>

</html>